html, body{
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    height: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    /*border: 5px solid tomato;*/
    background-size: cover;
}

.header{
    background-image: url(images/header-bg.png);
    flex-direction: column;
}
.sub-container{
    height: 100%;
    width: 50%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}
#name{
    font-size: 3rem;
    color: #ff7961;
}
.normalHeading{
    font-size: 2rem;
    font-weight: 100;
    margin-bottom: 0;
}
.textPart p{
    font-size: 140%;
    line-height: 160%;
}
.textPart a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 1.2rem;
    text-align: center;
    width: 120px;
    padding: 1rem 1rem;
    border-radius: 50px;

    transition: 0.5s;
    background-image: linear-gradient(to right,#ff3613 0%, #ff8a75 51%, #ff3613 100%);
    background-size: 200% auto;
}
.textPart a:hover{
    background-position: right center;
}
.pi{
    width: 70%;
}

.biography{
    background-image: url(images/biography-bg.png);
}
.latest-work{
    background-image: url(images/latest-work-bg.png);
}
.footer{
    background-image: url(images/header-bg.png);
}

.mg{
    margin-left: 15%;
}